# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
/.idea
/venv/
*.h5
*.hdf5
*.pyc
/resources/api-keys
stepper_motor_open.py
/results/*.csv
/results/*.jpg
