# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
/.idea
/venv/
*.h5
*.hdf5
*.pyc
/resources/api-keys
/resources/tokens
/data
/data_800
/data_small
/data_test
/data_test_small
/captured_insects
/11-04
/trap_results
test.py
/sub_data
/internet_sample